<h1>About</h1>
<hr>

<p>This website was built to explore Ember.js. This project allows us to imagine traveling the world while simultaneously traversing the pathways of the Ember framework!</p>

<br>
{{#link-to 'index'}}Home{{/link-to}}
