<h1>Admin Portal</h1>
<hr>

<ul>
  {{#each model as |announcemnt|}}
    {{admin-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement saveAnnouncement="saveAnnouncement"}}

{{#link-to 'announcement'}}Return to Announcements{{/link-to}}
