<h1> Announcements </h1>
<hr>

<p>Please check often for the latest announcements, upcoming sales and other exciting news</p>

  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement}}
  {{/each}}


<br>
{{#link-to 'index'}}Home{{/link-to}}
