  <h1> Welcome to Ember Rentals </h1>
  <em>These places are FIRE!</em>
  <hr>


  <h2> Current Listings </h2>
  <p> Click for details </p>

  <ul>
    {{#each model as |rental|}}
      {{rental-tile rental=rental}}
    {{/each}}
  </ul>

  {{new-rental saveRental2="saveRental3"}}

  <br>
  {{#link-to 'about'}}About{{/link-to}}
  <br>
  {{#link-to 'announcement'}}Announcements{{/link-to}}
